name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Executing remote ssh commands
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOSTINGER_HOST }}
        username: ${{ secrets.HOSTINGER_USER }}
        password: ${{ secrets.HOSTINGER_PASS }}
        port: ${{ secrets.HOSTINGER_PORT }}
        script: |
          cd /home/u675091370/domains/dmpoojabhanda.lk/public_html
          git pull origin main
          cp -rf frontend/build/* .
          echo "Deployment successful!"
